<div class="bg-[#101018] rounded-xl m-2 grow shrink-0 basis-1/3">
    <div class="bg-[url('{{ movie.picture }}')] bg-cover bg-center w-full h-56 bg-clip-border rounded-xl relative">
        {% if movie.exclusivity %}
            <span class="text-sm absolute top-4 right-4 bg-yellow-400 rounded px-2 py-1 shadow-lg font-bold">Exclusivité</span>
        {% endif %}
        <a href="#" class="text-sm absolute top-4 left-4 bg-black rounded px-2 py-1 shadow-lg font-bold">
            {% if movie.favorite %}
                <i class="fi fi-star text-[#1190ea]" title="Enlever des favoris"></i>
                {% else %}
                <i class="fi fi-star text-white" title="Mettre en favori"></i>
            {% endif %}
        </a>
    </div>
    <div class="p-4">
        <h3 class="text-white text-2xl">{{ movie.title }}</h3>
        <div class="text-[#999] flex justify-between text-sm pt-4">
            <div>
                <span class="fi fi-eye text-[#1190ea] pr-2"></span>
                {{ movie.views_number }} vu
            </div>
            <a href="/pages/movie.php">
                <span class="fi fi-play text-[#1190ea] pr-2"></span>
                Regarder
            </a>
        </div>
    </div>
</div>
