<nav>
    <ul class="md:pl-4">
        <li class="text-white bg-[#13121b] pl-8 py-4 md:rounded-tl-full md:rounded-bl-full tracking-widest my-2">
            <a href="/" class="block w-full h-full">
                <i class="fi fi-home text-[#1190ea] mr-3 text-xl"></i> Accueil
            </a>
        </li>
        <li class="text-[#999] pl-8 py-4 md:rounded-tl-full md:rounded-bl-full tracking-widest my-2 hover:bg-[#13121b] hover:text-white transition">
            <a href="/pages/trending.php" class="block w-full h-full">
                <i class="fi fi-line-chart text-[#1190ea] mr-3 text-xl"></i> Tendance
            </a>
        </li>
        <li class="text-[#999] pl-8 py-4 md:rounded-tl-full md:rounded-bl-full tracking-widest my-2 hover:bg-[#13121b] hover:text-white transition">
            <a href="/pages/favorite.php" class="block w-full h-full">
                <i class="fi fi-star text-[#1190ea] mr-3 text-xl"></i> Favoris
            </a>
        </li>
    </ul>
</nav>
