{% extends 'layout.html.twig' %}

{% block title %}Favoris{% endblock %}

{% block content %}
    <div class="mt-8">
        <div class="flex justify-between">
            <h2 class="text-white text-4xl">Favoris</h2>
            <div class="flex justify-center items-center">
                <label for="filter" class="mr-4"><i class="fi fi-filter text-[#1190ea]"></i></label>
                <select name="filter" id="filter"
                        class="text-lg text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200">
                        <option value="title">Titre</option>
                        <option value="viewers">Vu</option>
                        <option value="date">Date</option>
                </select>
            </div>
        </div>
        <div class="flex flex-col md:flex-row flex-wrap justify-between mt-8">
            {% for movie in movies %}
                {% include 'components/movie_card.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}